@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.moving-words {
  color: #080101;
  font: 500 normal 1.3rem "Inter", sans-serif;
  padding-block: 8rem;
  padding-inline: 14rem;
}

.moving-words ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.moving-words li {
  font: 500 clamp(56px, 18vw, 300px) / 0.8 "Inter", sans-serif;
  letter-spacing: -0.06em;
  overflow: hidden;
  display: flex;
}

.moving-words .letter {
  position: relative; /* Establishes a reference for the child with absolute positioning */
  display: inline-block;
}

.moving-words .letter span {
  display: block;
  margin-bottom: 50px;
}

.moving-words .letter span:last-child {
  position: absolute;
  bottom: 100%;
  left: 0;
}
