@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.home-header {
  padding-block: 8rem;

  .root {
    position: relative;
    color: black;

    font: 500 normal 22px/1.3 "Inter", sans-serif;
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lineText {
      font: 500 normal 10.5vw / 0.9 "Inter", sans-serif;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }

    .lineText:first-child {
      margin: 0 0 0 -0.07em;
    }
  }

  .containers {
    position: relative;
    pointer-events: none;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 25px;
  }

  .duplicate {
    --xpercent: 50%;
    --ypercent: 50%;
    mask-image: radial-gradient(
      circle at var(--xpercent) var(--ypercent),
      #000 20%,
      transparent 25%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #f55239;
  }

  @media (max-width: 768px) {
    padding-block: 4rem;
  }
}
