.infinite-carousel {
  display: flex;
  align-items: center;
  overflow: clip;
  padding-block: 8rem;

  .container {
    width: max-content;
    white-space: nowrap;
    display: flex;
    gap: 1vw;
    padding: 0 1vw 0 0;
    user-select: none;
    cursor: grab;
  }

  .card {
    width: 25vw;
    aspect-ratio: 1;

    .image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .header {
    .drag {
      display: flex;
      align-items: center;
      gap: 14px;
      margin: 10px 0 0;

      .image {
        width: 23px;
        height: auto;
      }

    }
  }

  @media (max-width: 768px) {
    .card {
      width: 42vw;
    }
  }
}
